* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: lavender;
    font-family: "Lato", sans-serif;
    color: black;
    position: relative;
}

#array-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    background-color: white;
    font-size: 1.8rem;
    width: 40%;
    padding: 6rem 4rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-submit {
    margin-top: 2rem;
}

.btn {
    width: 7rem;
    height: 1.6rem;
    padding: .4rem;
    cursor: pointer;
    border: solid 1px black;
    background: white;
    border-radius: 1.2rem;
    text-align: center;
}

.btn:hover {
    color: white;
    background: #664080;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#canvas {
    width: 80%;
    height: 50vh;
    margin: 2.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reset-button {
    width: 9rem;
}