body {
    background: lavender;
    font-family: monospace;
    color: black;
}

.button {
    width: 7rem;
    height: 1.2rem;
    padding: 4px;
    cursor: pointer;
    border: solid 1px black;
    background: white;
    border-radius: 12px;
    text-align: center;
}

.button:hover {
    color: white;
    background: #664080;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#canvas {
    width: 80%;
    height: 50vh;
    margin: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reset-button {
    width: 9rem;
}